* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1.head-Donbass {
    font-size: 5rem;
  }
  .obolochka .img-fluid {
    width: 75%;
  }
}

/* Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1.head-Donbass {
    font-size: 6rem;
  }
  .obolochka .img-fluid {
    width: 75%;
  }
}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  h1.head-Donbass {
    font-size: 6rem;
  }
  .obolochka .img-fluid {
    width: 50%;
  }
}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  .navbar {
    padding-left: 70px;
    padding-right: 70px;
  }
  h1.head-Donbass {
    font-size: 7rem;
  }
  .obolochka .img-fluid {
    width: 50%;
  }
}

.nav-item .active {
  border-bottom: 2px solid rgb(75, 75, 75);
}
.head-Donbass {
  font-family: "Ubuntu", sans-serif;
  /* font-size: 7rem; */
  font-weight: 700;
  color: #fff;
}

#header {
  background-image: url("../img/header-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 3.5rem;
  padding-bottom: 8rem;
}

.text-primary {
  color: #48626f !important;
}

.header-item {
  padding-top: 0px !important;
  margin: 0 !important;
}
.task-next {
  background-color: #d6f0e7;
}

#about {
  text-align: justify;
}

h4,
h2 {
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
}

h2.text-white {
  text-shadow: 6px 3px 5px rgba(0, 0, 0, 0.35);
}

h1.head-Donbass {
  text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

.card-custom {
  /* border: 1px solid #afafaf; */
  border-radius: 15px;
  background-color: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-custom:hover,
.calculate {
  -webkit-box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.54);
}

#team .card-custom {
  -webkit-box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.54);
}

#team .card-custom:hover {
  -webkit-box-shadow: 2px 2px 26px 2px rgba(0, 156, 47, 1);
  -moz-box-shadow: 2px 2px 26px 2px rgba(0, 156, 47, 1);
  box-shadow: 2px 2px 26px 2px rgba(0, 156, 47, 1);
}

.card-img i {
  background-image: linear-gradient(to right, #00e095 0%, #4accc1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00e0d0;
}
.card-img img {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#results {
  background-image: url("/img/header-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#connect {
  background-image: url("/img/header-bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#form_122389_1 {
  box-shadow: none !important;
}
/* Калькулятор */
#calc {
  background-image: url("/img/header-bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.calculate {
  background-color: #fff;
  padding: 20px 20px 15px 20px;
  min-height: 410px;
  border-radius: 10px;
}

#itogo_p {
  font-size: 2rem;
  margin: 20px;
}
p span {
  color: #03c987;
}
.subItogo {
  color: #aeaeae;
}

.subItogo span {
  color: #009765;
}

.calculate p {
  margin-bottom: 3px;
}

.grass {
  height: 11rem;
  background-image: url("../img/grass_bottom-2.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

footer {
  background-color: #297e0c;
}
